<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" th:href="@{/css/dandelion.css}" media="screen" />

<title>404错误页面</title>

</head>

<body>

	<div id="da-wrapper" class="fluid">

		<div id="da-content">

			<div class="da-container clearfix">

				<div id="da-error-wrapper">

					<div id="da-error-pin"></div>
					<div id="da-error-code">
						error <span>404</span>
					</div>

					<h1 class="da-error-heading">哎哟喂！页面让狗狗叼走了！</h1>
					<p>
						大家可以到狗狗没有叼过的地方看看！ <br></br> <a href="/index">列表</a> <a
							href="/login">登陆</a><br></br> <a href="/uploading">上传</a> <a
							href="/download">下载</a>
					</p>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div id="da-footer">
			<div class="da-container clearfix">
				<p>2018 05 18 SpringBoot Z.yg</p>
			</div>
		</div>
	</div>

</body>
</html>

<div th:text="${url}"></div>
<div th:text="${exception}"></div>
