<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/signin.css}" />
<script type="text/javascript" th:src="@{js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

<title>~登陆~</title>
</head>
<body>
	<div class="container" style="width: 400px;">
		<form class="form-signin" role="form" action="list" method="post">
			<h2 class="form-signin-heading" style="text-align: center;">登陆</h2>
			<input type="text" class="form-control" name="user" placeholder="用户名"
				required="required" />
			<p th:text="${thisUser} ? ${thisUser} : '' "></p>
			<input type="password" class="form-control" name="password"
				placeholder="密码" required="required" />
			<button id="btn-login" class="btn btn-lg btn-primary btn-block"
				type="submit">登录</button>
		</form>
	</div>
</body>
</html>