<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>分页</title>
</head>
<body>
	<div th:fragment="page">
		<ul class="pagination pagination-ls">
			<li><a value="1" onclick="pages(this);">首页</a></li>
			<li><a value="up" onclick="pages(this);">&laquo;</a></li>
			<li><a id="li3" value="1" onclick="pages(this);">1</a></li>
			<li><a id="li4" value="2" onclick="pages(this);">2</a></li>
			<li><a id="li5" value="3" onclick="pages(this);">3</a></li>
			<li><a id="li6" value="4" onclick="pages(this);">4</a></li>
			<li><a id="li7" value="5" onclick="pages(this);">5</a></li>
			<li><a id="li8" value="below" onclick="pages(this);">&raquo;</a></li>
			<li><a value="trail" onclick="pages(this);">尾页</a></li>
		</ul>
	</div>
</body>
</html>


